{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<!-- Banner -->
<div class="container-fluid text-light p-5 jumbotron"
style="background-image: url({{ url_for('static', filename='img/bg/cafe-bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container p-5 d-flex align-items-center justify-content-center h-100">
      <div class="jumbo-title text-center">
        <h1 class="big-heading">About Me</h1>
        <p class="subheading">Who am I?</p>
        </div>
    </div>
</div>

<div class="container my-5">
    <!-- Profile pic -->
    <div class="col-lg-8 col-md-10 mx-auto text-center">
        <img src="./static/img/profilepic.jpg" class="profile-pic" alt="profile-pic">
    </div>

    <!-- Background -->
    <div class="row align-items-center media-about">
        <div class="col-6 col-md-3">
            <img src="./static/img/van.jpg" class="media-img mb-3" alt="...">
        </div>
        <div class="col-6 col-md-9">
            <h4 class="mt-0">My background</h4>
            <p>
                Growing up in Texas, I always wanted to be a freelance travel photographer. Upon receiving a B.A. in
                fine arts, I set out on an adventure that took me sailing around South America, living in a van in New
                Zealand, and then around Asia where I ended up in South Korea working as an English Teacher. After a few
                years in education, I felt like something was missing, so I decided to go back to school to become a
                software engineer.
            </p>
        </div>
    </div>

    <!-- Computer Science -->
    <div class="row align-items-center media-about">
        <div class="col-6 col-md-9">
            <h4 class="mt-0">Computer Science</h4>
            <p>
                In 2022, I enrolled at Oregon State University as a CS Postbacc student. My courses have pushed
                me to grow, ignited my love for problem solving and critical thinking, and fulfilled me in a way I've
                never experienced in my professional career. I love that coding allows me to wield both logic and
                creativity to tackle unique problems.
            </p>
        </div>
        <div class="col-6 col-md-3">
            <img src="./static/img/osulogo.jpg" class="media-img align-self-center ml-3" alt="...">
        </div>
    </div>

    <!-- Recreation -->
    <div class="row align-items-center media-about">
        <div class="col-6 col-md-3">
            <img src="./static/img/bbq.jpg" class="media-img align-self-center mr-3" alt="...">
        </div>
        <div class="col-6 col-md-9">
            <h4 class="mt-0">Recreation</h4>
            <p>
                When I'm not working or coding, I can be found café hopping on my search for the perfect cup of coffee
                or out and about traveling and taking pictures. I love street photography and capturing beautiful images
                of the world around me and I get out and shoot regularly and occasionally exhibit my work.
            </p>
        </div>
    </div>
</div>

{% endblock %}