{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<!-- Banner -->
<div class="container-fluid text-light p-5 jumbotron"
style="background-image: url({{ url_for('static', filename='img/bg/cafe-bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container p-5 d-flex align-items-center justify-content-center h-100">
      <div class="jumbo-title text-center">
        <h1 class="big-heading">About Me</h1>
        <p class="subheading">Who am I?</p>
        </div>
    </div>
</div>

<div class="container my-5">
    <!-- Profile pic -->
    <div class="col-lg-8 col-md-10 mx-auto text-center">
        <img src="./static/img/profilepic.jpg" class="profile-pic" alt="profile-pic">
    </div>

    <!-- Background -->
    <div class="row align-items-center media-about">
        <div class="col-4 col-md-3">
            <img src="./static/img/van.jpg" class="media-img mb-3" alt="...">
        </div>
        <div class="col-8 col-md-9">
            <h4 class="mt-0">My background</h4>
            <p>Growing up in Texas, I always thought my dream was to travel the world working as a freelance
                photographer. It seemed set in stone upon receiving B.A. in fine arts. My itch for adventure took me
                around the world to New Zealand, where I lived in a van and worked as a travel photographer, then to
                South America, and across Asia where I landed in South Korea and eventually began my career as an
                English teacher. I fell in love with education and threw myself into my work, but after a few years, I
                felt like something was missing. I craved a new challenge and room for growth that a new career path
                could bring.</p>
        </div>
    </div>

    <!-- Computer Science -->
    <div class="row align-items-center media-about">
        <div class="col-8 col-md-9">
            <h4 class="mt-0">Computer Science</h4>
            <p>In 2022, I began my journey at Oregon State University as a CS Postbacc student. My courses have pushed
                me to grow, ignited my love for problem solving and critical thinking, and fulfilled me in a way I've
                never experienced in my professional career. As I progress through my degree and focus my attention
                towards my new career, I look forward to the opportunity to be challenged, learn, and grow daily in a
                field that excites me.</p>
        </div>
        <div class="col-4 col-md-3">
            <img src="./static/img/osulogo.jpg" class="media-img align-self-center ml-3" alt="...">
        </div>
    </div>

    <!-- Recreation -->
    <div class="row align-items-center media-about">
        <div class="col-4 col-md-3">
            <img src="./static/img/bbq.jpg" class="media-img align-self-center mr-3" alt="...">
        </div>
        <div class="col-8 col-md-9">
            <h4 class="mt-0">Recreation</h4>
            <p>When I'm not working or coding, I can be found café hopping or continuing my search for the best pork
                belly barbecue in Seoul, South Korea, where I am currently based. As a big foodie, I also love fitness
                and lifting weights and hit the gym every day so that I can have that extra pint on the weekend. I love
                street photography and capturing beautiful images of the world around me and I still get out and shoot
                regularly. Other hobbies include cooking and brewing rice wine.</p>
        </div>
    </div>
</div>

{% endblock %}